// Headings
h1,
.as-h1,
h2,
.as-h2,
h3,
.as-h3 {
	font-size: rem-calc(16);
}

h4,
.as-h4,
h5,
.as-h5,
h6,
.as-h6 {
	font-size: rem-calc(14);
}

h1,
.as-h1,
h2,
.as-h2,
h3,
.as-h3,
h4,
.as-h4 {
	font-family: var(--heading-font-family, $heading-font-family);
}

// Body Default
p,
.as-paragraph,
.ui-label {
	margin-top: 0;
	font-family: var(--body-font-family, $body-font-family);
	font-size: rem-calc(8);
	font-weight: 400;
}

p {
	margin-bottom: var(--global-margin, $global-margin);
}

.as-paragraph,
.ui-label {
	margin-bottom: 0;
}
