@keyframes open {
	0% {
		transform: translate3d(rem-calc(375), 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes close {
	100% {
		transform: translate3d(rem-calc(375), 0, 0);
	}
	0% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
